.wrapper {
  padding-inline: var(--col-gap);
  margin-top: 32px;
}

.title {


  h2 {
    margin: 0;
    font-size: 24px;
  }
}

.selection {
  display: flex;
  gap: 10px;
  padding: 7px 0 10px;
  margin: 14px 0;
  background-color: var(--bg-primary);
  min-height: 52px;
  

  .btn {
    color: var(--white);
    font-size: 14px;
    border-radius: 32px;
  }

  .active {
    color: var(--black);
  }
}

.section {
  margin-inline: -24px;
}