@import "../../scss/variable.scss";
@import "../../scss/mixin";

.btn {
  box-sizing: border-box;
  background-color: transparent;
  border: 0px;
  border-radius: 9999px;
  cursor: pointer;
  transform: translate3d(0px, 0px, 0px);
  color: var($text-subdued, #6a6a6a);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.45rem;
  font-weight: 700;
  line-height: 18px;
  text-transform: none;
  vertical-align: middle;
  touch-action: manipulation;
  transition-duration: 33ms;

  user-select: none;
}

.left-icon {
  display: flex;
  position: absolute;
  left: 12px;

  svg {
    width: 16px;
    height: 16px;
  }
}

.right-icon {
  display: flex;
  position: absolute;
  right: 12px;

  svg {
    width: 16px;
    height: 16px;
  }
}

.btn-default,
.btn-primary,
.btn-text {
  .btn-body {
    position: relative;
    border-radius: 9999px;
    font-size: inherit;
    @include item-center;
    padding-block-start: 4px;
    padding-block-end: 4px;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
  }
}

.btn-default {
  font-size: 1.3rem;

  .btn-body {
    background-color: $bg-highlight;
    color: $white;
    padding-inline-start: 32px;
  }

  &:hover {
    transform: scale(1.04);
  }
}

.btn-primary {
  font-size: 1.3rem;

  .btn-body {
    background-color: $white;
    color: var($black, #000000);
  }

  &:hover {
    transform: scale(1.04);
  }
}

.btn-circle {
  align-items: center;
  background-color: $bg-highlight;
  border: none;
  border-radius: 50%;
  color: $text-subdued;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  height: 32px;
  justify-content: center;
  position: relative;
  width: 32px;

  .btn-body {
    width: 16px;
    height: 16px;
  }

  &:hover {
    transform: scale(1.1);
    color: $white;
  }
}

.btn-text {
  .btn-body {
    padding-block-start: 8px;
    padding-block-end: 8px;
    padding-inline-start: 0;
    padding-inline-end: 0;
  }

  &:hover {
    transform: scale(1.04);
    color: $white;
  }
}

.btn-menu {
  background: transparent;
  border: 0;
  border-radius: 2px;
  color: hsla(0,0%,100%,.9);
  cursor: default;
  display: block;
  width: 100%;
  height: 40px;
  padding: 12px;
  padding-inline-end: 8px;
  
  .btn-body {
    user-select: none;
    display: flex;
    text-align: start;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    font-size: 1.3rem;
    font-weight: 600;
  }

  &:hover {
    background-color: hsla(0,0%,100%,.1);
    color: #fff;
    text-decoration: none;
  }
}

//disabled

//Button Sizes
.small {
  .btn-body {
    min-block-size: 32px;
  }
}

.large {
  .btn-body {
    min-block-size: 48px;

    padding-inline-start: 32px;
    padding-inline-end: 32px;
  }
}
