@import "../../scss/variable.scss";
@import "../../scss/mixin";

.song-item-tag {
  background-color: hsla(0,0%,100%,.07);
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  color: $white;
  transition: all .3s ease;
  cursor: pointer;

  &:hover .body .play-btn {
    opacity: 1;
  }

  &:hover {
    background-color: $bg-card-highlight;
  }
}

.thumbnail {
  height: 100%;
  aspect-ratio: 1 / 1;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.body {
  margin-inline: 16px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  position: relative;

  &-name {
    flex: 1;
    font-size: 16px;
    font-weight: 500;
    @include text-line-clamp(1);
    font-family: CircularSp;
    font-weight: 700;
  }

  .play-btn {
    opacity: 0;
    transition: all .3s ease;
  }
}

.hidden {
  display: none !important;
}