@import "../../scss/variable";

.main-layout {
  background-color: $black;
  height: 100vh;
  width: max(100vw, 900px);
  overflow: hidden;
  display: flex;
  gap: $panel-gap;
  padding: 0.8rem;
  max-width: 3000px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.main-layout-top {
  height: calc(100vh - 96px);
}
.main-layout-bottom {
  display: flex;
  flex-direction: column;
  user-select: none;
}

.split {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.main-container {
  flex: 1;
  height: 100%;
  background-color: $bg-primary;
  border-radius: $panel-gap;
  -webkit-border-radius: $panel-gap;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
}
