@import "../../scss/variable.scss";
@import "../../scss/mixin";

.wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: $bg-primary;
}


.body {
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  padding-bottom: 32px;
  padding-top: $navbar-height;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }
}

.song-list {
  position: relative;

  .main {
    position: relative;
    padding-inline: 24px;

    .action-bar {
      display: flex;
      position: relative;
      justify-content: space-between;
      padding: 24px;
      align-items: center;
      gap: 32px;

      .action-left {
        display: flex;
        position: relative;
        gap: 32px;
        align-items: center;

        .heart {
          cursor: pointer;
          @include item-center;
          background-color: transparent;
          color: $text-subdued;
          transition: none;
  
          &.active {
            color: $secondary !important;
          }
  
          &:hover {
            color: $white;
          }
        }
      }

      .action-right {
        .order-button {
          cursor: pointer;
            @include item-center;
            background-color: transparent;
            color: #bababa;
            transition: none;
            font-size: 1.4rem;
            font-weight: bold;
    
            &:hover {
              color: $white;
            }
        }
      }
    }

  }
}

.grid-md {
  grid-template-columns: 16px minmax(300px, 4fr) 2fr 50px !important;
}

.pivot-tracking {
  position: absolute;
  z-index: -999;
}