@import "../../scss/variable.scss";
@import "../../scss/mixin";

.wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: $bg-primary;
}


.body {
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  padding-bottom: 32px;
  padding-top: $navbar-height;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }
}

.song-list {
  position: relative;

  .main {
    position: relative;
    padding-inline: 24px;

    .action-bar {
      display: flex;
      justify-content: space-between;
      position: relative;
      padding: 24px;
      align-items: center;

      .action-left {
        display: flex;
        position: relative;
        gap: 32px;


        .heart {
          cursor: pointer;
          @include item-center;
          background-color: transparent;
          color: $text-subdued;
          transition: none;
  
          &.active {
            color: $secondary !important;
          }
  
          &:hover {
            color: $white;
          }
        }
      }

      .action-right {
        .order-button {
          cursor: pointer;
            @include item-center;
            background-color: transparent;
            color: #bababa;
            transition: none;
            font-size: 1.4rem;
            font-weight: bold;
    
            &:hover {
              color: $white;
            }
        }
      }
    }

  }
}

.grid-md {
  grid-template-columns: 16px minmax(300px, 4fr) 2fr 50px !important;
}

.copy-rights {
  display: flex;
  flex-direction: column;
  padding-inline: 24px;
  margin-top: 32px;
  line-height: 1.7;
  gap: 4px;

  p {
    color: $text-neutral;
    font-size: 11px;
    margin: 0;
  }

  .date {
    font-size: 14px;
    margin-bottom: 2px;
  }
}

.artist-albums {
  margin-top: 32px;
}

.pivot-tracking {
  position: absolute;
  z-index: -999;
}