.home {
  height: 100%;
  position: relative;
  overflow: hidden;
  -webkit-overflow: hidden;
  
  .home-container {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    padding-bottom: 32px;
    padding-top: 64px;
    position: relative;

    &::-webkit-scrollbar {
      display: none;
    }
    
  }
}