@import '../../scss/mixin';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .control-buttons {
    margin-bottom: 8px;
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
    width: 100%;

    .control-left {
        display: flex;
        justify-content: flex-end;
        flex: 1;
        gap: 8px;
    }
    .control-right {
        display: flex;
        flex: 1;
        gap: 8px;
    }
  }
}



.btn {
      align-items: center;
    background: transparent;
    border: none;
    color: hsla(0,0%,100%,.7);
    display: flex;
    height: var(--button-size);
    justify-content: center;
    min-width: var(--button-size);
    position: relative;
    width: var(--button-size);


  &:hover {
    cursor: pointer;
    color: var(--white);
  }
}

.play-or-pause:hover {
    transform: scale(1.04);
    transition: none 33ms cubic-bezier(.3,0,0,1);
}

.playback-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-direction: row;
  gap: var(--panel-gap);
}

.playback-position,
.playback-duration {
  min-width: 40px;
  color: var(--text-subdued);
  font-size: 11px;
}

.playback-position {
    text-align: right;
}

.playback-duration {
    text-align: left;
}

.active {
  @include button-active;

  color: var(--secondary) !important;
  position: relative;

  &::after {
    bottom: -3px;
  }
}
