@import "../../scss/variable.scss";
@import "../../scss/mixin";

.artists {
  font-size: 14px;
  color: $text-neutral;
  display: flex;
  gap: 3px;
  
  width: 100%;
  flex: 1;

  .subIsQueue {
    @include text-in-one-line
  }

  .artist-item {
    font-size: 14px;
    color: $text-neutral;

    @include text-in-one-line;

    &:hover {
      text-decoration: underline;
      color: $white;
    }
  }
}

.artist-item {
  font-size: 14px;
  color: $text-neutral;

  &:hover {
    text-decoration: underline;
    color: $white;
  }
}

.white-color {
  color: $white !important;
}
