.artists {
  font-size: 14px;
  color: var(--text-neutral);
  display: flex;
  gap: 3px;
  
  width: 100%;
  flex: 1;

  .subIsQueue {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .artist-item {
    font-size: 14px;
    color: var(--text-neutral);

    &:hover {
      text-decoration: underline;
      color: var(--white);
    }
  }
}

.artist-item {
  font-size: 14px;
  color: var(--text-neutral);

  &:hover {
    text-decoration: underline;
    color: var(--white);
  }
}

.white-color {
  color: var(--white) !important;
}
