@import "../../scss/variable.scss";

.bg-blur {
    position: absolute;
    height: 232px;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(rgba(0, 0, 0, .6) 0, $bg-primary 100%), $bg-noise;
    z-index: 0;
}