.sidebar {
  // width: max(20%, 280px);
  // max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: var(--panel-gap);
  min-width: 280px;
  max-width: 500px;
}

//Navbar top
.navbar-container {
  background-color: var(--bg-primary);
  font-size: 1.6rem;
  border-radius: 8px;

  ul {
    padding: 8px 12px;

    .nav-item {
      padding: 4px 12px;

      
      .active {
        color: var(--white) !important;
      }

      .nav-item-body {
        display: flex;
        align-items: center;
        gap: var(--nav-gap);
        color: var(--text-neutral);
        height: 40px;

        &:hover {
          color: var(--white);
        }

        .nav-icon {
          font-size: 24px;
        }

        .nav-name {
          font-size: 1.5rem;
          font-weight: 700;
          text-decoration: none;
        }
      }
    }
  }
}

.library {
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  height: 100%;
  overflow: hidden;

  .playlist {
    display: flex;
    flex: 1;
    flex-direction: column;

    .playlist-header {
      display: flex;
      gap: 8px;
      padding: 8px 16px;
      flex-direction: column;

      .playlist-header-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--panel-gap);

        .playlist-header-title {
          display: flex;
          gap: 4px;
          align-items: center;
          margin-inline-end: auto;
          min-width: 0;

          height: 40px;
          cursor: pointer;
          padding: 4px 8px;
          min-block-size: 40px;
          justify-content: flex-start;
          color: #a7a7a7;
          font-size: 1.5rem;

          &:hover {
            color: var(--white);
          }

          .playlist-header-icon {
            display: flex;
            margin-right: 12px;
          }

          .playlist-header-text {
            font-weight: 600;
          }

        }
        .playlist-button {
          display: flex;
          gap: 8px;
          
          button {
            background-color: transparent;
            padding: 8px;
            color: #a7a7a7;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
              cursor: pointer;
              background-color: #1a1a1a;
              color: var(--white);
              border-radius: 999px;
            }
            
          }
        }
      }
    }

    .selection {
      display: flex;
      align-items: center;

      .selection-body {
        min-width: 0;
        padding: 8px 16px;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        width: 100%;
        white-space: nowrap;

        .libSelect-btn {
          box-sizing: border-box;
          background-color: transparent;
          border: 0px;
          color: inherit;
          cursor: pointer;
          letter-spacing: inherit;
          padding: 0px;
          border-radius: 9999px;
          display: inline-flex;
          vertical-align: middle;
          max-inline-size: 100%;
          text-decoration: none;
          overflow-wrap: break-word;
          position: relative;

          span {
            font-size: 1.275rem;
            font-weight: 600;
            position: relative;
            color: var(--white);
            display: flex;
            align-items: center;
            border-radius: 999px;
            transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
            padding-block-start: 8px;
            padding-block-end: 8px;
            padding-inline-start: 12px;
            padding-inline-end: 12px;
            background-color: var(--background-tinted-base);
          }

          &:not(:last-child) {
            margin-right: 8px;
          }

          &:hover span {
            background-color: hsla(0,0%,100%,.1);
          }
        }
      }
    }

    .playlist-section {
      height: 100%;
      position: relative;
      overflow: hidden;
      overscroll-behavior-y: contain;

      .section-list {
        overflow: hidden;
        overflow-y: scroll;
        transform: translateZ(0);
        bottom: 0;
        direction: inherit;
        height: auto!important;
        left: 0;
        margin: 0;
        //overflow: visible;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: auto!important;
        z-index: 0;

        .section-list-body {
          width: 100%;
          height: 100%;
          direction: inherit;
          display: block;
          position: relative;
          visibility: visible;

          .section-list-flex {
            display: flex;
            flex-direction: column;
            gap: var(--panel-gap);
            min-height: 100%;
            padding: 0 8px 8px 8px;

            .section-head {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 0 4px 0 8px;

              .head-search {
                position: relative;

                &.hien {
                  .opacity {
                    opacity: 1;
                    width: 188px;
                    padding: 8px 32px;
                    padding-inline-end: 8px;
                    font-size: 1.2rem;
                    font-weight: 600;
                    outline: none;
                    z-index: 9;
                  }
                }

                .inputSearch {
                  position: absolute;
                  background-color: hsla(0,0%,100%,.1);
                  border: 0;
                  border-radius: 4px;
                  color: hsla(0,0%,100%,.7);
                  height: 32px;
                  opacity: 0;
                  text-overflow: ellipsis;
                  transition-duration: .3s;
                  //transition-property: opacity width;
                  transition-timing-function: cubic-bezier(.3,0,.4,1);
                  width: 32px;
                  z-index: -1;
                }

                button {
                  top: 0;
                  left: 0;
                  right: auto;
                  align-items: center;
                  background-color: transparent;
                  border: 0;
                  color: hsla(0,0%,100%,.7);
                  cursor: pointer;
                  display: flex;
                  padding: 8px;
                  pointer-events: auto;

                  svg {
                    width: 16px;
                    height: 16px;
                  }

                  &:hover {
                    background-color: hsla(0,0%,100%,.1);
                    border-radius: 50%;
                    color: #fff;
                  }

                }
              }

              .head-recent {
                box-sizing: border-box;
                padding: 4px 12px 4px 16px;
                font-size: 1.35rem;
                font-weight: 600;
                background-color: transparent;
                border: 0px;
                border-radius: 9999px;
                cursor: pointer;
                position: relative;
                text-align: center;
                text-decoration: none;
                text-transform: none;
                touch-action: manipulation;
                transition-duration: 33ms;
                user-select: none;
                vertical-align: middle;
                transform: translate3d(0px, 0px, 0px);
                color: var(--text-subdued,#6a6a6a);
                min-inline-size: 0px;
                min-block-size: 32px;
                display: inline-flex;
                align-items: center;
                justify-content: center;

                .recent-title {
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  margin-block: 0px;
                  color: inherit;
                }

                .recent-icon {
                  display: flex;
                  margin-left: 5px;
                  
                  svg {
                    width: 16px;
                    height: 16px;
                  }
                }

                &:hover {
                  color: var(--white,#000000);
                }
              }
            }
          }
        }

      }
    }
  }
}

.section-suggest {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #242424;
  border-radius: 8px;
  gap: 20px;
  justify-content: center;
  margin: 8px 0;
  padding: 16px;

  .section-suggest-body {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .section-text-medium {
      color: var(--white);
      font-weight: 700;
      font-size: 1.4rem;
    }
    .section-text-small {
      font-size: 1.2rem;
      color: var(--white);
      font-weight: 600;
    }
  }
  .section-suggest-btn {
    align-self: flex-start;
  }
}

.left-sidebar-bottom {
  overflow: hidden;

  .left-sidebar-link {
    margin: 32px 0;
    padding: 0 24px;
    text-align: start;

    .BottomLinksList {
      display: flex;
      flex-wrap: wrap;
      
      .BottomLink-item {
        display: flex;
        margin-right: 16px;

        .item-title {
          margin-bottom: 12px;
          text-decoration: none;
          line-height: inherit;
          border: none;
          padding: 0px;
          color: var(--text-subdued,#6a6a6a);
          display: inline-flex;
          align-items: center;

          span {
            font-size: 1.1rem;
            font-weight: 400;
            color: inherit;
          }
        }
      }
    }

    .Cookie-link {
      color: #b3b3b3;
      margin-block-start: 12px;
      padding-inline-end: 16px;
      user-select: none;

      span {
        margin-block: 0px;
        color: inherit;
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
  }

  .language {
    margin-bottom: 32px;
    padding: 0 24px;

    button {
      border: 1px solid var(--essential-subdued,#878787);

      &:hover {
        border: 1px solid var(--white,#000000);
      }

      span {
        background-color: transparent;
      }
    }
  }
}

.bottom-shadow {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.6);
}