.sidebar {
  // width: max(20%, 280px);
  // max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: var(--panel-gap);
  min-width: 280px;
  max-width: 500px;
}

//Navbar top
.navbar-container {
  background-color: var(--bg-primary);
  font-size: 1.6rem;
  border-radius: 8px;

  ul {
    padding: 8px 12px;

    .nav-item {
      padding: 4px 12px;

      
      .active {
        color: var(--white) !important;
      }

      .nav-item-body {
        display: flex;
        align-items: center;
        gap: var(--nav-gap);
        color: var(--text-neutral);
        height: 40px;

        &:hover {
          color: var(--white);
        }

        .nav-icon {
          font-size: 24px;
        }

        .nav-name {
          font-size: 1.5rem;
          font-weight: 700;
          text-decoration: none;
        }
      }
    }
  }
}

.library {
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  height: 100%;
  overflow: hidden;

  .playlist {
    display: flex;
    flex: 1;
    flex-direction: column;

    .playlist-header {
      display: flex;
      gap: 8px;
      padding: 8px 16px;
      flex-direction: column;

      .playlist-header-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--panel-gap);

        .playlist-header-title {
          display: flex;
          gap: 4px;
          align-items: center;
          margin-inline-end: auto;
          min-width: 0;

          height: 40px;
          cursor: pointer;
          padding: 4px 8px;
          min-block-size: 40px;
          justify-content: flex-start;
          color: #a7a7a7;
          font-size: 1.5rem;

          &:hover {
            color: var(--white);
          }

          .playlist-header-icon {
            display: flex;
            margin-right: 12px;
          }

          .playlist-header-text {
            font-weight: 600;
          }

        }
        .playlist-button {
          display: flex;
          gap: 8px;
          
          button {
            background-color: transparent;
            padding: 8px;
            color: #a7a7a7;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
              cursor: pointer;
              background-color: #1a1a1a;
              color: var(--white);
              border-radius: 999px;
            }
            
          }
        }
      }
    }
  }
}
