.sidebar {
  // width: max(20%, 280px);
  // max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: var(--panel-gap);
  min-width: 280px;
  max-width: 500px;
}

//Navbar top
.navbar-container {
  background-color: var(--bg-primary);
  font-size: 1.6rem;
  border-radius: 8px;

  ul {
    padding: 8px 12px;

    .nav-item {
      padding: 4px 12px;

      
      .active {
        color: var(--white) !important;
      }

      .nav-item-body {
        display: flex;
        align-items: center;
        gap: var(--nav-gap);
        color: var(--text-neutral);
        height: 40px;

        &:hover {
          color: var(--white);
        }

        .nav-icon {
          font-size: 24px;
        }

        .nav-name {
          font-size: 1.5rem;
          font-weight: 700;
          text-decoration: none;
        }
      }
    }
  }
}

.library {
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  height: 100%;
  overflow: hidden;
}
