.wrapper {
  display: grid;
  //grid-template-columns: 16px minmax(300px, 6fr) 4fr 3fr 50px;
  grid-template-columns: [index] var(--tracklist-index-column-width, 16px) [first] minmax(120px, var(--col1, 6fr)) [var1] minmax(120px, var(--col2, 4fr)) [var2] minmax(120px, var(--col3, 3fr)) [last] minmax(120px, var(--col4, 1fr));
  grid-gap: 16px;
  height: 56px;
  padding-inline: 16px;
  align-items: center;
  border-radius: 4px;

  &:hover {
    background-color: hsla(0, 0%, 100%, 0.1);
    cursor: pointer;

    .order-icon {
      opacity: 1;
    }

    .order-number {
      opacity: 0;
    }

    .action {
      //display: block;
      opacity: 1;
    }
  }
}

.main {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-right: 8px;

  .thumb {
    height: 40px;
    width: 40px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;

    .order-icon {
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;

      svg {
        width: 16px;
        height: 16px;
      }
    }

    .default-thumb {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: var(--bg-card-highlight);
      color: var(--text-neutral);
    }

    span {
      display: block;
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 5px;
    flex: 1;
    overflow: hidden;

    .name {
      color: var(--white);
      font-size: 16px;
      padding: 0;
      margin: 0;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      white-space: unset;
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
      
      &:hover {
        cursor: pointer;
      }
    }

    .sub-title {
      display: flex;
      align-items: center;
      gap: 3px;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .explicit {
      font-size: 9px;
      padding: 3px 6px;
      text-transform: uppercase;
      background-color: hsla(0, 0%, 100%, 0.6);
      color: var(--bg-primary);
      border-radius: 2px;
      margin-right: 8px;
    }
  }
}

.album {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: unset;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
}

.order {
  font-size: 16px;
  color: var(--text-neutral);
  position: relative;

  &-number {
    opacity: 1;
    z-index: -1;
  }

  &-icon {
    color: #fff;
    opacity: 0;
    position: absolute;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    padding: 2px 8px;
    top: -4px;
    right: -3px;
    transition: none;
  }

  .equaliser {
    width: 14px;
    height: 14px;
    overflow: hidden;

    & > img {
      width: 100%;
      height: 100%;
    }
  }
}

.right-action {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .action {
    opacity: 0;
    &.active {
      color: var(--secondary) !important;
    }

    &:first-child {
      margin-right: 16px;
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }
  .duration {
    display: flex;
    justify-content: flex-end;
    color: var(--text-neutral);
    width: 5ch;
    margin: 0;
    font-size: 14px;
    margin-right: 12px;
  }
}

.album,
.date-add {
  font-size: 14px;
  color: var(--text-neutral);
}

//.duration,
//.action {
//  text-align: end;
//  transform: translateX(-10px);

//}

//.action {
//  //display: none;
//  opacity: 0;
//  //transform: translateX(-16px);
//}

.grid-md {
  grid-template-columns: [index] var(--tracklist-index-column-width, 16px) [first] minmax(120px, var(--col1, 6fr)) [var1] minmax(120px, var(--col2, 4fr)) [var2] minmax(120px, var(--col3, 3fr)) [last] minmax(120px, var(--col4, 1fr)) !important;
}

.is-album-track {
  grid-template-columns: 16px minmax(300px, 4fr) 50px !important;
}

.is-search-result {
  grid-template-columns: minmax(300px, 4fr) 50px !important;
}
.is-queue-result {
  grid-template-columns: minmax(300px, 4fr) 50px !important;

  &:hover {
    .action {
      //display: block;
      opacity: 1;
    }
  }
}

.is-playing {
  .order-number,
  .name {
    color: var(--tertiary) !important;
  }
}
