@import "../../scss/variable.scss";
@import "../../scss/mixin";

.wrapper {
  display: grid;
  grid-gap: 16px;
  height: 56px;
  padding-inline: 16px;
  align-items: center;
  border-radius: 4px;

  &:hover {
    background-color: hsla(0, 0%, 100%, 0.1);
    cursor: pointer;

    .order-icon {
      opacity: 1;
    }

    .order-number {
      opacity: 0;
    }

    .action {
      //display: block;
      opacity: 1;
    }
  }
}

.main {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-right: 8px;

  .thumb {
    height: 40px;
    width: 40px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;

    .order-icon {
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;

      svg {
        width: 16px;
        height: 16px;
      }
    }

    .default-thumb {
      @include item-center;
      width: 100%;
      height: 100%;
      background-color: $bg-card-highlight;
      color: $text-neutral;
    }

    span {
      display: block;
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 5px;
    flex: 1;
    overflow: hidden;

    .name {
      color: $white;
      font-size: 16px;
      padding: 0;
      margin: 0;
      -webkit-line-clamp: 1;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      white-space: unset;
      @include text-in-one-line;
      
      &:hover {
        cursor: pointer;
      }
    }

    .sub-title {
      display: flex;
      align-items: center;
      gap: 3px;
      width: 100%;
      @include text-in-one-line;
    }

    .explicit {
      font-size: 9px;
      padding: 3px 6px;
      text-transform: uppercase;
      background-color: hsla(0, 0%, 100%, 0.6);
      color: $bg-primary;
      border-radius: 2px;
      margin-right: 8px;
    }
  }
}

.album {
  @include text-line-clamp(1);
  white-space: unset;
  @include text-in-one-line;
}

.order {
  font-size: 16px;
  color: $text-neutral;
  position: relative;

  &-number {
    opacity: 1;
    z-index: -1;
  }

  &-icon {
    color: #fff;
    opacity: 0;
    position: absolute;
    background-color: transparent;
    @include item-center;
    width: 28px;
    height: 28px;
    padding: 2px 8px;
    top: -4px;
    right: -3px;
    transition: none;
  }

  .equaliser {
    width: 14px;
    height: 14px;
    overflow: hidden;

    & > img {
      width: 100%;
      height: 100%;
    }
  }
}

.right-action {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .action {
    opacity: 0;
    &.active {
      color: $secondary !important;
    }

    &:first-child {
      margin-right: 16px;
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }
  .duration {
    display: flex;
    justify-content: flex-end;
    color: $text-neutral;
    width: 5ch;
    margin: 0;
    font-size: 14px;
    margin-right: 12px;
  }
}

.album,
.date-add {
  font-size: 14px;
  color: $text-neutral;
}

//.duration,
//.action {
//  text-align: end;
//  transform: translateX(-10px);

//}

//.action {
//  //display: none;
//  opacity: 0;
//  //transform: translateX(-16px);
//}

.grid-md {
  grid-template-columns: [index] var(--tracklist-index-column-width, 16px) [first] minmax(120px, var(--col1, 6fr)) [var1] minmax(120px, var(--col2, 4fr)) [var2] minmax(120px, var(--col3, 3fr)) [last] minmax(120px, var(--col4, 1fr)) !important;
}

.is-album-track {
  grid-template-columns: 16px minmax(300px, 4fr) 50px !important;
}

.is-search-result {
  grid-template-columns: minmax(300px, 4fr) 50px !important;
}
.is-queue-result {
  grid-template-columns: minmax(300px, 4fr) 50px !important;

  &:hover {
    .action {
      //display: block;
      opacity: 1;
    }
  }
}

.is-list {
  grid-template-columns: 16px minmax(120px, 4fr) minmax(120px, 1fr) !important;
}

.is-list-no-album {
  grid-template-columns: 16px minmax(120px, 6fr) minmax(120px, 4fr) minmax(120px, 3fr) minmax(120px, 1fr) !important;
}

.is-compact,
.is-compact-no-album {
  height: 36px;
}

.is-compact {
  grid-template-columns: 16px minmax(120px, 4fr) minmax(120px, 2fr) minmax(120px, 1fr) !important;
}

.is-compact-no-album {
  height: 36px;
  grid-template-columns: 16px minmax(120px, 6fr) minmax(120px, 4fr) minmax(120px, 3fr) minmax(120px, 3fr) minmax(120px, 2fr) !important;
}

.is-playing {
  .order-number,
  .name {
    color: $tertiary !important;
  }
}
