@import '../../scss/variable.scss';
@import '../../scss/mixin';

.queue-view-wrapper {
  max-width: 400px;
  min-width: 300px;
  overflow: hidden;
  overflow-y: scroll;
  background-color: $bg-primary;
  border-radius: $panel-border-radius;
  padding: 16px;
  gap: 16px;
  flex-direction: column;
  display: flex;

  &::-webkit-scrollbar {
    display: none;
  }

}

.header {
  min-height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .header-title {
    overflow: hidden;

    .text {
        font-size: 16px;
        font-weight: 700;
        margin: 0;
    }
  }

  .close-btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: all 0.2s ease;
    position: relative;

    button {
      position: absolute;
      top: 2px;
      right: 0px;
      @include reset-button;
      cursor: pointer;
      width: 100%;
      height: 100%;
      background-color: transparent;
      color: rgba($color: #fff, $alpha: 0.7);
    }

    &:hover {
      background-color: rgba($color: #fff, $alpha: 0.1);
    }
  }
}

.body {
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  padding: 16px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: $col-gap;

  &::-webkit-scrollbar {
    display: none;
  }
}

.now-playing {
  
}


.sub-title {
  font-size: 16px;
  color: var(--white);
  margin: 0;
  margin-bottom: 4px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: unset;
  @include text-in-one-line;
}

.queue-list {
  
}

.queue-notify {
  height: 50vh;
  min-height: 300px;
  flex-direction: column;
  @include item-center;
}

.content {
  font-size: 32px;
}


