@import "normalize.css";

:root {
  --primary: #1ed760;
  --secondary: #1db954;
  --tertiary: #1dcf5d;
  --black: #000;
  --white: #fff;
  --bg-primary: #121212;
  --bg-section: #181818;
  --bg-card-highlight: #282828;
  --bg-highlight: rgba(0,0,0,.56);


  --bg-noise: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIGJhc2VGcmVxdWVuY3k9Ii43NSIgc3RpdGNoVGlsZXM9InN0aXRjaCIgdHlwZT0iZnJhY3RhbE5vaXNlIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGQ9Ik0wIDBoMzAwdjMwMEgweiIgZmlsdGVyPSJ1cmwoI2EpIiBvcGFjaXR5PSIuMDUiLz48L3N2Zz4=);


  --text-subdued: #a7a7a7;
  --text-neutral: #b3b3b3;
  --decorative-subdued: #292929;
  --top-bar-opacity: 0.0;
  --panel-gap: 8px;
  --row-gap: 16px;
  --nav-gap: 20px;
  --col-gap: 24px;

  --panel-border-radius: 8px;

  --navbar-height: 64px;
  //--left-sidebar-width: 420px;

  //--content-spacing: clamp(16px,16px + (100vw - var(--left-sidebar-width,0px) - var(--panel-width,0px) - 600px)/424*8,24px);


  --font-family: "ProximaNova", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;

  scrollbar-width: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  line-height: 1.5;
  text-rendering: optimizespeed;
  color: var(--white);
  overflow-y: overlay;

}

// Scrollbar CSS
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: hsla(0,0%,100%,.3);
}

button,
input,
[tabindex],
textarea {
  outline: none;
  border: none;
}

a, 
ol, 
ul, 
li {
  text-decoration: none;
  background-color: transparent;
  list-style: none;
}

.gutter {
  background-color: inherit;
  cursor: col-resize;
}

.gutter.gutter-horizontal {
  height: 100%;
  cursor: col-resize;
  width: var(--panel-gap) !important;
}

//Font embeded
//ProximaNova
@font-face {
  font-family: CircularSp;
  src: url('./assets/fonts/CircularSp-Book.woff2');
  font-weight: 400;
}

@font-face {
  font-family: CircularSp;
  src: url('./assets/fonts/CircularSp-Bold.woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Spoticon';
  src: url('./assets/fonts/spoticon_regular.woff2');
}
