@import "normalize.css";
@import "./scss/PlaylistPage.scss";
@import "./scss/modal.scss";
@import"./scss/variable.scss";

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;

  scrollbar-width: none;
}

html {
  --font-family: "ProximaNova", sans-serif;
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  line-height: 1.5;
  text-rendering: optimizespeed;
  color: $white;
  overflow-y: overlay;

}

// Scrollbar CSS
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: hsla(0,0%,100%,.3);
}

button,
input,
[tabindex],
textarea {
  outline: none;
  border: none;
}

a, 
ol, 
ul, 
li {
  text-decoration: none;
  background-color: transparent;
  list-style: none;
}

.gutter {
  background-color: inherit;
  cursor: col-resize;
}

.gutter.gutter-horizontal {
  height: 100%;
  cursor: col-resize;
  width: $panel-gap !important;
}

//Font embeded
//ProximaNova
@font-face {
  font-family: CircularSp;
  src: url('./assets/fonts/CircularSp-Book.woff2');
  font-weight: 400;
}

@font-face {
  font-family: CircularSp;
  src: url('./assets/fonts/CircularSp-Bold.woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Spoticon';
  src: url('./assets/fonts/spoticon_regular.woff2');
}






