.img-wrapper {
  width: 100%;
  height: 100%;
  position: relative;

  img {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    animation: brighten-up 0.2s;
    box-shadow: 0 4px 60px rgba(0, 0, 0, .5);

  }
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.25;
}

@keyframes brighten-up {
  0% {
    filter: brightness(0.3);
  }

  100% {
    filter: brightness(1);
  }
}
